@charset "utf-8";

body {
  font-family: "Lato";
}

a {
  display: inline-block;
}

.title-font {
  font-family: "Raleway";
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  position: fixed;
  background-color: #FFF;
  width: 100%;
  z-index: 20;
}

.header__inner {
  padding: 15px 0;
}

.header__thunder {
  float: left;
}

.header__button {
  background-color:#74cfae;
  font-size: 12px;
  padding: 14px 12px;
  float: right;
  color: #FFF;
  transition: 0.3s;
  font-family: "Lato";
  text-decoration: none;
}

.header__button:hover {
  color: #333;
}

.all-include {
  padding-top: 78px;
}

.title {
  background-color: #f2f2f2;
  text-align: center;
  padding: 250px 0;
}

.title__main {
  color: #74cfae;
  margin: 0 auto;
  font-size: 90px;
  font-weight: 700;
}

.title__sub {
  margin-top: 20px;
  color: #c0c0c0;
  font-size: 30px;
}

.icon {
  background-color: #74cfae;
}

.icon__inner {
  padding-top: 50px;
}

.icon__phone {
  float: left;
  color: #FFF;
}

.icon__text {
  text-align: center;
  color: #FFF;
  margin-left: 200px;
  line-height: 30px;
  float: left;
  width: 650px;
}

.icon__text--title {
  font-size: 24px;
}

.icon__text--main {
  font-size: 20px;
  margin-top: 35px;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
} 

.work {
  background-color: #f2f2f2;
  text-align: center;
}

.work__inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.work__title {
  margin: 0 auto;
  font-size: 24px;
}

.work__imgall {
  margin-top: 40px;
}

.work__img { 
  margin-left: 100px;
  float: left;
  font-size: 0;
}

.img-real {
  opacity: 0.7;
  transition: all .3s;
  z-index: 10;
  cursor: pointer;
}

.work__img:nth-child(n+4) {
  margin-top: 80px;
}

.work__img:nth-child(3n+1) {
  margin-left: 0;
}

.img-real:hover {
  opacity: 1;
}

.work__text-block {
  font-size: 0;
  margin-top: 90px;
}

.work__text {
  display: inline-block;
  width: 60%;
  line-height: 30px;
  font-size: 13px;
}

.work__button{
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  background-color:#74cfae;
  color: #FFF;
  transition: all .3s;
  font-family: "Lato";
  margin-left: 90px;
  vertical-align: top;
  text-decoration: none;
}

.work__button:hover {
  color: #333;
}

.skill {
  text-align: center;
  background-color: #4e4e4e;
}

.skill__inner {
  padding-top: 70px;
  padding-bottom: 100px;
}
.skill__title {
  font-size: 20px;
  color: #FFF;
}

.skillset {
  margin-top: 70px;
  font-size: 0;
}

.inline {
  display: inline-block;
  margin-left: 180px;
}

.skill__circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ecf1f2;
  border-top-color: #74cfae;
}

.skill__circle--name {
  font-size: 16px;
  margin-top: 10px;
  color: #FFF;
}

.inline:first-child {
  margin-left: 0;
}

/* .space-del {
  font-size: 0;
} */


.sns {
  text-align: center;
  background-color: #f2f2f2; 
  padding: 200px 0;
}

.sns-flex {
  display: flex;
}


.sns__mark {
  width: 185px;
  margin: 0 auto;
  text-align: center;
  transition: all .3s;
  color:#74cfae;
}

.sns__mark:hover {
  background-color: #FFF; 
  animation-duration: 0.3s ease;
  cursor: pointer;
}

.sns__mark--color {
  color: #74cfae;
  width: 100%;
  padding: 20px 0;
}

.footer {
  background-color:#74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer__text {
  color: #FFF;
  text-align: right;
}

/* レスポンシブル対応 */

@media screen and (max-width: 1199px) {
  .headder {
    width: 97%;
  }
  
  .inner {
    width: 97%;
  }
  
  .icon__inner {
    padding-bottom: 25px;
  }

  .icon__phone {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .icon__text {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .icon__text--title {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .icon__text--main {
    margin: 0;
    font-size: 20px;
    margin-top: 35px;
  }

  .work__inner {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .work__img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .work__img:nth-child(n+5){
    margin-top: 0;
  }

  .work__img:nth-child(4) {
    margin-top: 80px;
  }
  
  .work__text-block {
    margin-top: 80px;
  }

  .work__text {
    text-align: center;
    width: 100%;
  }
  
  .work__button{
    margin-top: 40px;
    margin-left: 0;
  }

  .inline {
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
    margin-top: 88px;
  }
  .inline:first-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .sp-br {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .title__main {
    margin: 0;
    font-size: 80px;
  }

  .title {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .icon__text {
    width: 100%;
  }

  .sns-flex {
    display: block;
  }
  .sns__mark {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
  }

  .sns {
    text-align: center;
    background-color: #f2f2f2; 
    padding: 50px 0;
  }

  .header__button {
    display: none;
  }

  .humberger-menu {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .humberger-menu__line {
    height: 1px;
    width: 30px;
    margin-bottom: 7px;
    border: 1px solid #ddd;
    background-color: #ddd;
    border-radius: 4px;
  }

  .humberger-menu__line:last-child {
    margin-bottom: 0;
  }

}